@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-purple {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(
      at 75% 21%,
      rgb(76, 29, 149) 0,
      transparent 64%
    ),
    radial-gradient(at 13% 81%, rgb(136, 19, 55) 0, transparent 63%);
  backdrop-filter: blur(10px);
}

html {
  overflow-x: hidden;
}
